/* COMMON */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ---------------------------------------------------- */
/* CONTAINERS */

body {
    height: 100vh;
    width: 100%;
}

main {
    height: calc( 100% - 80px );
    width: 100%;
    overflow: hidden;
}

footer {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 80px;
    background-color: #272727;
    overflow: hidden;
}

.main-nav {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    justify-content: space-between;
    height: 100%;
    width: 220px;
    float: left;
    background-color: #000001;
}

.main-content {
    height: 100%;
    width: calc( 100% - 220px );
    float: left;
    padding-top: 70px;
    background-color: #151922;
    overflow-y: auto;
}

.container-flex {
    height: 100%;
    display: flex;
}

#fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc( 100% - 220px );
    text-align: right;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* ---------------------------------------------------- */
