/* COMMON */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

main {
    height: calc( 100% - 80px );
    width: 100%;
}

footer {
    padding: 0 15px;
    height: 80px;
    background-color: #272727;
    overflow: hidden;

}

/* ---------------------------------------------------- */
/* CONTAINERS */

.main-nav {
    height: 100%;
    float: left;
    width: 220px;
    background-color: #000001;
}

.main-content {
    height: 100%;
    float: left;
    width: calc( 100% - 220px );
    padding-top: 85px;
    background-color: #151922;
}

.container-flex {
    height: 100%;
    display: flex;
}

#fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: calc( 100% - 220px );
    text-align: right;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* ---------------------------------------------------- */
