/* ---------------------------------------------------- */
/* FOOTER */

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------------- */
/* FOOTER CURRENT SONG */

.current-song {
    flex-grow: 1;
}

.current-song-info img {
    width: 45px;
}

.current-song-info {
    display: flex;
    align-items: center;
    margin: -10px;
}

.current-song-info img,
.current-song-info-name,
.current-song-favorite {
    margin: 10px;
}

.current-song-author {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.current-song-title {
    font-weight: 600;
    font-size: 11px;
    color: #868686;
    transition: all 0.2s ease-out;
}

.current-song i {
    color: #868686;
    transition: all 0.2s ease-out;
}

.current-song i:not(:last-child) {
    padding-right: 10px;
}

/* ---------------------------------------------------- */
/* SONG TOOLS BUTTONS */

.song-tools {
    flex-grow: 8;
}

.song-tools-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    height: 40px;
    margin: -5px;
}

.song-tools-buttons li {
    width: 28px;
    text-align: center;
    margin: 5px;
}

.song-tools-buttons li i {
    color: #fff;
    font-size: 14px;
    transition: all 0.2s ease-out;
}

.song-tools-buttons li:nth-child(3) i {
    font-size: 26px;
    transition: all 0.2s ease-out;
}

/* ---------------------------------------------------- */
/* SONG TOOLS BAR */

.song-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-bar-time {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
}

.song-bar-total {
    width: 80%;
    height: 4px;
    content: "";
    background-color: #868686;
    border-radius: 20px;
    margin: 0 10px;
    transition: all 0.5s ease-out;
}

.song-bar-progress {
    width: 35%;
    height: 100%;
    content: "";
    background-color: #C1C1C1;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s ease-out;
}

.song-bar-progress::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    transition: all 0.5s ease-out;
}

/* ---------------------------------------------------- */
/* SONG TOOLS VOLUME */

.song-volume {
    flex-grow: 2;
}

.song-volume-buttons {
    display: flex;
    align-items: center;
}

.song-volume-buttons i {
    color: #fff;
    font-size: 14px;
}

.song-volume-buttons i:nth-child(1n+2) {
    padding-left: 15px;
}
