/* ---------------------------------------------------- */
/* FIXED HEADER */

#fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 63px;
  width: calc(100% - 220px);
  text-align: right;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

#fixed-header button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border: 1px solid #fff;
  padding: 10px 35px;
  margin-right: 15px;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.1s ease-out;
}

#fixed-header {
  z-index: 1;
}
