/* COMMON */

/* FIXED HEADER */
#fixed-header button {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border: 1px solid #fff;
    padding: 10px 35px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.1s ease-out;
}

#fixed-header {
    z-index: 1;
}

/* ---------------------------------------------------- */
/* FONTS */

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}

/* ---------------------------------------------------- */
/* MAIN NAV */

.main-nav {
    flex-direction: column;
    padding-left: 20px;
    overflow: hidden;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Main Nav Logo °°°°°°°°°°°°°°°°°°°°°°°°° */

.main-nav-logo {
    padding: 15px 0;
    width: 120px;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Main Nav Menu °°°°°°°°°°°°°°°°°°°°°°°°° */

.main-nav-menu-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}

.main-nav-menu-item a {
    color: #868686;
}

.main-nav-menu-item img {
    height: 25px;
    padding-right: 5px;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Main Nav Playlist °°°°°°°°°°°°°°°°°°°°°°°°° */

.main-nav-playlist {
    overflow: hidden;
    flex-grow: 5;
}

.main-nav-playlist h4 {
    padding-top: 15px;
}

.main-nav-playlist-new {
    padding-top: 10px;
    display: flex;
    align-items: center;
    color: #868686;
    font-weight: 600;
    font-size: 12px;
}

.main-nav-playlist-new-text {
    color: #868686;
}

.main-nav-playlist-new-plus {
    height: 25px;
    width: 25px;
    background-color: #868686;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}

.main-nav-playlist-new-plus i {
    line-height: 25px;
    color: #000001;
}

.main-nav-playlist-list {
    height: 100%;
    overflow-y: auto;
}

.main-nav-playlist-list li {
    padding-top: 10px;
}

.main-nav-playlist-list a {
    color: #868686;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Main Nav User °°°°°°°°°°°°°°°°°°°°°°°°° */

.main-nav-user {
    align-items: flex-end;
    overflow: hidden;
}

.main-nav-user-install {
    display: flex;
    align-items: center;
    color: #868686;
    font-size: 10px;
}

.main-nav-user i {
    padding-right: 5px;
}

.main-nav-user-install {
    padding-bottom: 10px;
    border-bottom: 1px solid #868686;
    width: 95%;
}

.main-nav-user-install-text {
    color: #868686;
}

.main-nav-user-profile {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.main-nav-user-profile img {
    width: 20px;
    background-color: #868686;
    border-radius: 50%;
    margin-right: 10px;
}

.main-nav-user-name {
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}

/* ---------------------------------------------------- */
/* MAIN */

.main-content-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}

.main-content-categories-list li {
    display: inline-block;
    position: relative;
}

.main-content-categories-list li:nth-child(1n+2) {
    padding-left: 10px;
}

.main-content-categories-list li:first-child::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #CCF476;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.main-content-categories-list a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: #868686;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Main Content Categories °°°°°°°°°°°°°°°°°°°°°°°°° */

.main-content-category {
    padding: 0 15px;
}

.main-content-category-item-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-content-category-item {
    text-align: center;
}

.main-content-category-cover {
    position: relative;
}

.main-content-category-cover .play-button {
    color: #fff;
    font-size: 48px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content-category-item:not(:last-child) {
    padding-right: 15px;
}

.main-content-category-item-title {
    max-width: 180px;
}

.main-content-category-item-subtitle {
    color: #868686;
    font-size: 10px;
    padding-top: 5px;
}

.main-content-category-item-list img {
    padding: 15px 0 5px 0;
    height: 200px;
}

#artisti-popolari .main-content-category-item-list img {
    border-radius: 50%;
    overflow: hidden;
}

/* ---------------------------------------------------- */
/* FOOTER */

footer {
    justify-content: space-between;
}

.current-song {
    width: 25%;
    align-items: center;
}

.current-song-info img {
    height: 45px;
    padding-right: 15px;
}

.current-song-info {
    display: flex;
    align-items: center;
}

.current-song-info-name {
    padding-right: 30px;
}

.current-song-author {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.current-song-title {
    font-weight: 600;
    font-size: 11px;
    color: #868686;
}

.current-song i {
    color: #868686;
    padding-right: 10px;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Song Tools Buttons °°°°°°°°°°°°°°°°°°°°°°°°° */

.song-tools {
    width: 40%;
}

.song-tools-buttons {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    text-align: center;
}

.song-tools-buttons i {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    width: 20%;
}

.song-tools-buttons i:nth-child(3) {
    font-size: 26px;
    transition: all 0.1s ease-out;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Song Tools Bar °°°°°°°°°°°°°°°°°°°°°°°°° */

.song-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-bar-time {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
}

.song-bar-total {
    width: 80%;
    height: 4px;
    content: "";
    background-color: #868686;
    border-radius: 20px;
    margin: 0 20px;
    transition: all 0.1s ease-out;
}

.song-bar-progress {
    width: 35%;
    height: 100%;
    content: "";
    background-color: #C1C1C1;
    border-radius: 20px;
    position: relative;
    transition: all 0.1s ease-out;
}

.song-bar-progress::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    transition: all 0.1s ease-out;
}

/* °°°°°°°°°°°°°°°°°°°°°°°°° Song Tools Volume °°°°°°°°°°°°°°°°°°°°°°°°° */

.song-volume {
    width: 20%;
}

.song-volume-buttons {
    display: flex;
    align-items: center;
}

.song-volume-buttons i {
    color: #fff;
    font-size: 14px;
}

.song-volume-buttons i:nth-child(1n+2) {
    padding-left: 15px;
}
