/* ---------------------------------------------------- */
/* FOOTER */

.footer-left,
.footer-center,
.footer-right {
  padding: 0 7.5px;
}

.footer-icons li {
  display: inline-block;
  color: #868686;
  margin: 5px;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.footer-icons {
  margin: -5px;
}

/* ---------------------------------------------------- */
/* FOOTER-LEFT */

.footer-song-info img {
  width: 45px;
}

.footer-song-info {
  display: flex;
  align-items: center;
  margin: -10px;
}

.footer-song-info img,
.footer-song-info-name,
.footer-song-icons {
  margin: 10px;
}

.footer-song-author {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.footer-song-title {
  font-weight: 600;
  font-size: 11px;
  color: #868686;
  transition: all 0.2s ease-out;
}

/* ---------------------------------------------------- */
/* FOOTER-CENTER BUTTONS */

.footer-center {
  flex-grow: 3;
}

.footer-center-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin: -10px;
}

.footer-center-buttons li {
  text-align: center;
  margin: 10px;
}

.footer-center-buttons li i {
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.footer-center-buttons li:nth-child(3) i {
  font-size: 26px;
  transition: all 0.2s ease-out;
}

/* ---------------------------------------------------- */
/* FOOTER-CENTER BAR */

.footer-center-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-total {
  width: 80%;
  height: 4px;
  content: "";
  background-color: #868686;
  border-radius: 20px;
  margin: 0 10px;
  transition: all 0.5s ease-out;
}

.bar-progress {
  width: 35%;
  height: 100%;
  content: "";
  background-color: #c1c1c1;
  border-radius: 20px;
  position: relative;
  transition: all 0.5s ease-out;
}

.bar-progress::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  transition: all 0.5s ease-out;
}

.bar-time {
  font-size: 10px;
  color: #fff;
  font-weight: 500;
}

/* ---------------------------------------------------- */
/* FOOTER-RIGHT */

.footer-right {
  flex-grow: 1;
}

.footer-right .footer-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-right-buttons li i {
  color: #fff;
  font-size: 14px;
  margin: -5px;
}

.footer-right-buttons li i {
  margin: 5px;
}

.footer-right .footer-icons li:last-child {
  flex-grow: 1;
}
